# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro

# SECURITY: Environment & Keys
.env
.env.*
!.env.example
*.local
supabase/.temp/
supabase/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.wrangler
